:root{
    --btnFill1: rgb(81, 255, 0);
}


my-counter:addBtn{
    --btnFill1: rgb(246, 255, 0);
}
#counter1 {
	--btnFill: red;
}

my-counter::part(addBtn){
	background: rgb(37, 40, 37)
}

#counter1::part(addBtn) {
	background: rgb(205, 50, 171)
}

#second::part(title){
    color: #ee2a4b;  
}
#second::part(container){
    color: #ff00bf;
    padding: 10px;
}
#second{
    --bg: pink;
}
.centered{
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}